<div class="container mt-4">
  <ul>
  <% @offers.each do |offer| %>
    <li>
      <%= link_to offer.name, offer_path(offer), method: 'patch' %>

      <% if offer.like %>
        <i class="fa fa-heart"></i>
        <% else %>
        <i class="fas fa-times"></i>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>
