<div class="container mt-4">
<h1>FONT Test</h1>
  <ul class="ml-4">
  <% @offers.each do |offer| %>
    <li>
      <%= link_to offer.name, offer_path(offer), method: 'patch', style:"color: black;" %>
      <% if offer.matches.count > 0 %>
        <% if offer.matches.first.user_status %>
          <i class="fa fa-heart"></i>
        <% else %>
        <i class="fas fa-times"></i>
        <% end %>
      <% else %>
        <i class="fas fa-times"></i>
      <% end %>
    </li>
  <% end %>
  </ul>
  <div class="redo">
    <%= link_to destroy_all_path, class:'redo-icone' do %>
      <i class="fas fa-redo"></i>
    <% end %>
  </div>
</div>
