// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";

body {
  font-family: 'Gotham';
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "main"
                       "header";
  color: rgba(0, 0, 0, 0.815);
  height: 100vh;
  background: linear-gradient(180deg, rgb(93, 93, 245) 10%, rgb(170, 32, 32) 77%, rgb(255, 230, 0) 90%);
  width: 100%;
}

main {
  overflow-y: auto;
  grid-area: main;
  width: 100%;
}
